:root {
  --bg: #ffffff;
  --text: #000000;
  --table-header: #f0f0f0;
  --border: #cccccc;
  --highlight-minus: #ffcccc;
}

body.dark {
  --bg: #111;
  --text: #ffffff;
  --table-header: #2a2a2a;
  --border: #555555;
  --highlight-minus: #661111;
}

body.blue {
  --bg: #e6f0ff;
  --text: #003366;
  --table-header: #cce0ff;
  --border: #99c2ff;
  --highlight-minus: #ff9999;
}

body.sepia {
  --bg: #f4ecd8;
  --text: #5b4636;
  --table-header: #e3d7c1;
  --border: #c5b79e;
  --highlight-minus: #f8c0a0;
}

body.blood {
  --bg: #000;
  --text: #ff4444;
  --table-header: #300000;
  --border: #772222;
  --highlight-minus: #660000;
}

body.mars {
  --bg: #451804;
  --text: #f0e7e7;
  --table-header: #c1440e;
  --border: 	#e77d11;
  --highlight-minus: #fda600;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: sans-serif;
  padding: 1rem;
  transition: background 0.3s, color 0.3s;
  overflow: hidden;
}

.logo,
header {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

header {
  margin-top: -2rem;
}

#status-bar {
  margin-top: 5px;
  color: gray;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  gap: 8px;
}

#spinner {
  width: 14px;
  height: 14px;
  border: 2px solid var(--border);
  border-top: 2px solid var(--text);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.mobile-toggle {
  display: none;
  width: 100%;
  margin-bottom: 10px;
  font-size: 1em;
  background-color: var(--table-header);
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 0 0 6px 6px;
  cursor: pointer;
}

#themeSelector {
  margin-left: auto;
}

.tab-buttons {
  display: flex;
  gap: 8px;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

button {
  border-radius: 9px;
  border: 1px solid var(--border);
  padding: 8px 16px;
  color: var(--text);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0) inset;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
}

button.active {
  background-color: var(--bg);
  color: var(--text);
  box-shadow: 0 0 0 2px var(--text) inset;
  font-weight: bold;
  border-bottom: 2px solid var(--text);
}

.mobile-toggle:hover,
button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.search-wrapper {
  position: relative;
  width: 125vw;
  max-width: 400px;
}

.search-wrapper input {
  width: 100%;
  padding: 0.5rem 5rem 0.5rem 0.5rem;
  box-sizing: border-box;
  border-radius: 9px;
  border: 1px solid var(--border);
}

.clear-button {
  border-radius: 999px;
  position: absolute;
  padding: 0 0.2rem;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: var(--border);
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.1s ease, background-color 0.3s ease, color 0.3s ease;
  z-index: 50;
}

.clear-button.show {
  opacity: 1;
  pointer-events: auto;
}

.clear-button:active {
  transform: translateY(-50%) scale(0.85);
}

.clear-button:hover {
  color: var(--table-header);
}

.lantai-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
  align-items: center;
  justify-content: center;
}

.table-wrapper {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: auto;
}

#data-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  margin-bottom: 3em;
  border-collapse: collapse;
  border: 1px solid var(--border);
}

.highlight-minus {
  background-color: var(--highlight-minus);
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

thead {
  position: sticky;
  top: 0;
  background-color: var(--border);
}

th {
  position: relative;
  z-index: 50;
  cursor: pointer;
  background-color: var(--table-header);
  background-clip: padding-box;
  text-align: center;
  padding-right: 1.5em;
}

th:hover {
  background-color: var(--border);
}

th::after {
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8em;
  opacity: 0.7;
  pointer-events: none;
  z-index: 99;
}

th.sort-asc::after {
  content: ' 🔼';
}

th.sort-desc::after {
  content: ' 🔽';
}


th, td {
  border: 1px solid var(--border);
  padding: 6px 10px;
  white-space: nowrap;
}

td {
  text-align: right;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  height: 100%;
  cursor: col-resize;
  -webkit-user-select: none;
  user-select: none;
}

#rocketmeluncur {
  position: fixed;
  bottom: -40px;
  right: 25px;
  z-index: 1000;
  width: 26px;
  height: 48px;
  background: url(../assets/rocket.png) no-repeat 50% 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: visibility 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335),
              opacity 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335),
              transform 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

#rocketmeluncur i {
  display: block;
  margin-top: 48px;
  height: 14px;
  background: url(../assets/rocket.png) no-repeat 50% -48px;
  opacity: 0.5;
  transition: transform 0.2s ease;
  transform-origin: 50% 0;
}

#rocketmeluncur:hover {
  background-position: 50% -62px;
}

#rocketmeluncur:hover i {
  background-position: 50% 100%;
  animation: flaming 0.7s infinite;
}

#rocketmeluncur.showrocket {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-50px);
}

#rocketmeluncur.launchrocket {
  background-position: 50% -62px;
  opacity: 0;
  transform: translateY(-800px);
  pointer-events: none;
}

#rocketmeluncur.launchrocket i {
  background-position: 50% 100%;
  transform: scale(1.4, 3.2);
}

@keyframes flaming {
  0%   { transform: scale(1.0, 1.0); opacity: 0.5; }
  50%  { transform: scale(1.2, 1.6); opacity: 1; }
  100% { transform: scale(1.0, 1.0); opacity: 0.5; }
}

td.harga {
  position: relative;
  white-space: nowrap;
}

td.harga:hover {
  border: 1px solid var(--text);
}

td.harga:hover::after {
  content: "+PPN";
  position: absolute;
  top: -0.5rem;
  right: -1rem;
  font-size: 0.7em;
  padding: 1px 2px;
  color: #fff;
  background: #003366; /* opsional, biar gak ketabrak */
  border-radius: 25px;
  pointer-events: none;
}

/* auto refresh toggle */
/* From Uiverse.io by r7chardgh */
.switch-update {
  font-size: 1em;
  position: relative;
  display: inline-block;
  width: 5em;
  height: 1.5em;
  top: -0.25em;
  user-select: none;
  vertical-align: middle;
}

.switch-update .cb {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #373737;
  border-radius: 0.1em;
  transition: 0.4s;
  text-transform: uppercase;
  font-weight: 700;
  overflow: hidden;
  box-shadow: -0.3em 0 0 0 #373737, -0.3em 0.3em 0 0 #373737,
    0.3em 0 0 0 #373737, 0.3em 0.3em 0 0 #373737, 0 0.3em 0 0 #373737;
}

.toggle > .left {
  position: absolute;
  display: flex;
  width: 50%;
  height: 88%;
  background-color: #f3f3f3;
  color: #373737;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  transform-origin: right;
  transform: rotateX(10deg);
  transform-style: preserve-3d;
  transition: all 150ms;
}

.left::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(206, 206, 206);
  transform-origin: center left;
  transform: rotateY(90deg);
}

.left::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(112, 112, 112);
  transform-origin: center bottom;
  transform: rotateX(90deg);
}

.toggle > .right {
  position: absolute;
  display: flex;
  width: 50%;
  height: 88%;
  background-color: #f3f3f3;
  color: rgb(206, 206, 206);
  right: 1px;
  bottom: 0;
  align-items: center;
  justify-content: center;
  transform-origin: left;
  transform: rotateX(10deg) rotateY(-45deg);
  transform-style: preserve-3d;
  transition: all 150ms;
}

.right::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(206, 206, 206);
  transform-origin: center right;
  transform: rotateY(-90deg);
}

.right::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(112, 112, 112);
  transform-origin: center bottom;
  transform: rotateX(90deg);
}

.switch-update input:checked + .toggle > .left-stock {
  transform: rotateX(10deg) rotateY(45deg);
  color: rgb(206, 206, 206);
}

.switch-update input:checked + .toggle > .right {
  transform: rotateX(10deg) rotateY(0deg);
  color: #487bdb;
}

/* stock toggle */
.switch-stock {
  --_switch-bg-clr: var(--border);
  --_switch-padding: 4px; /* padding around button */
  --_slider-bg-clr: var(--text); /* slider color unchecked */
  --_slider-bg-clr-on: var(--text); /* slider color checked */
  --_slider-txt-clr: var(--text);
  --_label-padding: 0.5em; /* padding around the labels */
  --_switch-easing: cubic-bezier(0.47, 1.64, 0.41, 0.8);
  color: var(--bg);
  /* width: fit-content; */
  width: 200px;
  display: grid;
  justify-content: center;
  position: relative;
  border-radius: 9999px;
  cursor: pointer;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  isolation: isolate;
}

.switch-stock input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* label container */
.switch-stock > .toggle-stock {
  display: grid;
  width: 200px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  transition: opacity 300ms ease-in-out 150ms;
  padding: var(--_label-padding);
}

/* label items */
.switch-stock .toggle-stock > .left-stock,
.switch-stock .toggle-stock > .right-stock {
  /* display: grid;
  place-content: center; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/* background slider */
.switch-stock::before,
.switch-stock::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  transition: inset 150ms ease-in-out;
}

/* slider movement */
.switch-stock::before {
  background-color: var(--_slider-bg-clr);
  inset: var(--_switch-padding) calc(50% + var(--_switch-padding)) var(--_switch-padding) var(--_switch-padding);
  /* inset: var(--_switch-padding) 50% var(--_switch-padding) var(--_switch-padding); */
  transition:
    inset 500ms var(--_switch-easing),
    background-color 500ms ease-in-out;
  z-index: -1;
  box-shadow:
    inset 0 1px 1px rgba(0, 0, 0, 0.3),
    0 1px rgba(255, 255, 255, 0.3);
}

/* background color behind everything */
.switch-stock::after {
  background-color: var(--_switch-bg-clr);
  inset: 0;
  z-index: -2;
}

/* focus */
.switch-stock:focus-within::after {
  inset: -0.25rem;
}

/* hover highlight */
.switch-stock:has(input:checked):hover .toggle-stock > .left-stock,
.switch-stock:has(input:not(:checked)):hover .toggle-stock > .right-stock {
  opacity: 1;
  transition-delay: 0ms;
  transition-duration: 100ms;
}

/* slider movement on hover */
.switch-stock:has(input:checked):hover::before {
  inset: var(--_switch-padding) var(--_switch-padding) var(--_switch-padding) 45%;
}

.switch-stock:has(input:not(:checked)):hover::before {
  inset: var(--_switch-padding) 45% var(--_switch-padding) var(--_switch-padding);
}

/* when checked */
.switch-stock:has(input:checked)::before {
  background-color: var(--_slider-bg-clr-on);
  inset: var(--_switch-padding) var(--_switch-padding) var(--_switch-padding) 50%;
}

/* opacity control based on state */
.switch-stock .toggle-stock > .right-stock,
.switch-stock > input:checked + .toggle-stock > .left-stock {
  opacity: 0.75;
}

.switch-stock > input:checked ~ .toggle-stock > .right-stock {
  opacity: 1;
}

  /* responsive */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: stretch;
    margin-top: 0;
  }

  header h2 {
    font-size: 1.2em;
    flex-basis: 100%;
  }

  .search-wrapper {
    width: 100%;
    max-width: none;
  }

  .mobile-toggle {
    display: block;
  }

  .filter-wrapper .filter-inner {
    display: none;
  }

  .filter-wrapper.show .filter-inner {
    display: block;
  }

  .filter-wrapper .filter-inner {
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    display: block;
    justify-content: flex-start;
  }

  .filter-wrapper:not(.show) .filter-inner {
    max-height: 0;
  }

  #searchInput {
    width: 100%;
    box-sizing: border-box;
  }

  #themeSelector {
    margin-left: 0;
    width: 100%;
  }

  .tab-buttons {
    flex-direction: column;
  }

  .table-wrapper {
    overflow-x: auto;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
  }

  #lantaiFilter{ 
    gap: 15px;
  }

  th, td {
    padding: 8px 6px;
    font-size: 14px;
  }

  #status-bar {
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.85em;
    flex-wrap: wrap;
  }
}